.content-wrapper{
    margin-left: 0px !important;
    min-height: 90% !important;
}
.main-footer{
    margin-left: 0px !important;
    text-align: center !important;
}
.box{
    width: 75% !important;
    margin: auto !important;
    text-align: center !important;
}
.border_ra{
    border-radius: 5px !important;
}
.padding_c{
    padding: 5px !important;
}