.search_btn2 {
  position: absolute;
  background-color: #cb150f;
  right: 0;
  top: 0;
  color: #fff;
  z-index: 9;
  height: 100%;
  bottom: 0;
  width: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

a.category {
  text-align: center;

  .product {
    background-color: #fff;
    color: #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    display: block;
    padding: 20px 0;
    border-radius: 5px;
    transition: all 0.3s;
    margin-bottom: 15px;

    &:hover {
      box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
    }

    .product_img::before {
      background-color: transparent;
    }
  }
}

.tittle_color {
  background: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.paymentBtnBox {
  width: 100%;
  clear: both;
  margin: 50px 0;

  label {
    display: inline;
    margin-right: 15px;
    border: 1px solid #ddd;
    padding: 20px 10px;
    border-radius: 4px;
    background: #eee;

    &.disabled {
      background: #dcdcdc;
      color: #9f9f9f;
    }

    img {
      width: 60px;
    }
  }
}

.plus-minus-group {
  width: 130px;
  border: 1px solid #eff0f5;

  .form-control {
    border: none;
    outline: none;
    padding: 0;
    font-weight: 400;
    vertical-align: baseline;
    background-color: transparent;
    height: 38px !important;

    &:disabled {
      background-color: transparent;
    }
  }

  .btn {
    text-align: center;
    cursor: pointer;
    line-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
    display: block;
    border: 4px solid transparent;
    color: #9e9e9e;
    background-color: #eff0f5;

    &:hover {
      color: #fff;
      border-color: transparent;
      background-color: #dadada;
    }
  }

  &:disabled {
    background: #fafafa !important;
    border-color: #fafafa !important;
    cursor: not-allowed;
    color: #dadada;
  }
}

.sidebar_collapse {
  color: #cc2827;
  margin: 0 0 0 25px;
  border: 0;
}

.product_search_form2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  z-index: 1041;

  form {
    position: relative;
  }

  .search_btn2 {
    right: 0;
    top: 0;
    bottom: 0;
    height: 99%;
    width: 40px;
    vertical-align: middle;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
  }

  .mobile_search_landing {
    padding-left: 50px;
    font-size: 14px;

    &:focus {
      border-color: rgba(85, 85, 85, 0.3);
    }
  }

  .search_close {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f0f2f4;
    padding: 6px 16px;
    color: #cb150f;
    border: 1px solid #ced4da;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.form-control,
.btn,
.input-group-text {
  font-size: 14px;
}

.payment_methods {
  .icon_box {
    cursor: pointer;
    border-radius: 6px;

    &:hover,
    &.active {
      background-color: #eee;
      transition: ease-in-out 300ms;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &[disabled="disabled"] {
      background-color: #eee;
      opacity: 0.7;

      &:hover,
      &.active {
        box-shadow: none;
      }

      h6 {
        color: #8b8b8b;
      }
    }
  }
}

.attr-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
}
.attr-size {
  padding: 4px;
  border: 1px solid #eee;
}
